@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Thin.eot');
}

*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
   font-family: 'TT hoves' ;
}

.container{
    background: #ffffff;
    font-family: 'TT Hoves';
    font-style: normal;
}

header{
    margin-left: 10%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
}
nav{
    width: 55%;
}

.logo{
    height: 70px;
    width: 60px;
}

ul{
    margin-top: 7%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
} 
.go{
    text-decoration:overline underline;
}

a{
    color: #333333;
    text-decoration: none;
}

a:hover{
    text-decoration: 2px underline #5297f7;
}
#menu{
    float: right;
    display: none;
    margin-right: 0%;
}
.house img{
    margin-top: -30%;
    float: right;
    margin-right: 10%;
    width: 770px;
    height: 829px;
}
.house p{
    float: left;
    padding-top: 1%;
    padding-left: 2%;
    margin-left: 39%;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #FFFFFF;
    color: #333333;
    margin-top: -3%;
    width: 180px;
    height: 50px;
}
.pn{
    font-size: 64px;        
    line-height: 64px;
}
.project{
    margin-left:10%;
    margin-top: 23%;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}

.nurtown{
    margin-left:10%;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
    color: #333333;
}

.arrow{
    color: #333333;
    padding-top: 5%;
}
.sign{
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #BDBDBD;
    margin-top: 5%;
    margin-left: 10%;
}

.paragraph{
    background: #FBFBFB;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
}

.okm{
    float: right ;
    margin-right:10%;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}

.lorem{
    margin-top: 8%;
    margin-right:-35%;
    float: right;
    width: 400px;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}
.lorem p{
    background: #FFFFFF;
    width: 200px;
    height: 50px;
    padding: 20px 50px;
    margin-top:15px;
    }

img[src="images/one.png"]{
    width: 270px;
    height: 365px;    
}

img[src="images/two.png"]{
    width: 270px;
    height: 345px;
    background: #c4c4c4;
}
img[src="images/three.png"]{
    width: 270px;
    height: 140px;
    background:  #C4C4C4;
}
.number{
    margin: 10%;

}
.och{
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    margin-bottom: 5%;
}
.numbers{
    display: flex;
}
.no{
    display: flex;
    height: 140px;
    font-family: 'SF Pro Display';
    font-weight: 900;
    font-size: 200px;
    line-height: 239px;
    align-items: center;
    color: #F2F2F2;
    margin-right: 30%;
}
.no p{
    width: 279px;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
}
 .nom{
    float: right;
    display: flex;
    height: 140px;
    font-family: 'SF Pro Display';
    font-weight: 900;
    font-size: 200px;
    line-height: 239px;
    align-items: center;
    color: #F2F2F2;
}
.nom  p{
    width: 350px;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #333333;  
}
.ha{
    margin: 5% 10%;
    align-items: center;
}
.haw{
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
} 
.cover{
    margin-bottom: 3%;
    width: 570px;
    height: 255px;  
    background-image:url(images/cover.png);
    background:#333333 transparent 1.5rem;
}
.doc{
    padding: 40px;
    width: 413px;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #FFFFFF;
}
.doc p{
    font-family: 'Gothic A1';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
img[src='images/fan.png'] {
    float: right;
    margin-top: -24%;
    width: 570px;
    height: 255px;

}
img[src='images/field.png']{
    width: 270px;
    height: 255px;
}
img[src='images/estate.png']{
    width: 470px;
    height: 255px;
    padding-left:5%;
}
img[src='images/playground.png']{
    float: right;
    width: 370px;
    height: 255px;
}
#bc{   
    float: right; 
    width: 230px;
    height: 40px;
    font-family: 'Gothic A1';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 3%;
    padding-top: 3%;
    background: #333333;
}
.hawn{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #8D8D8D;
}
.hawn p{
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    margin-bottom: 10px;
}
img[src="images/human.png"]{
    float: right;
    width: 749px;
    height: 395px;
}
input{
    display: block;
    border:none;
    padding-left: 20px;
}
input[type="nmr"]{
    width: 391px;
    height: 46px;
    background: #F3F3F3;
}
input[type="home"]{
     width: 391px;
    height: 45px;
    background: #F3F3F3;
}
input[type="email"]{
    width: 391px;
    height: 46px;
    background: #F3F3F3;
}

input[type="nht"]{
    width: 391px;
    height: 45px;
    background: #F3F3F3;
}
input[type="coo"]{
    width: 391px;
    height: 147px;
    background: #F3F3F3;
}
.otnp{
    margin-top: 2%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #333333;
    margin-left: 7%;
}
button{
    padding-left: 15px;
    margin-top: 2%;
    width: 220px;
    height: 60px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #333333;
    color: #FFFFFF;
}
footer{
    margin-top: 5%;
    height: 400px;
    background: #2C2C2C;
}
tr{
    margin-bottom: 10px;
    justify-content: space-between;
}
table{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 30%;
    margin-top: -7%;
}
td{
    width: 800px;
    padding: 1%;
    padding-left: 12%;
} 
.fa-brands{
    padding-right: 8%;
}
.fa-solid{
    padding-left: 10%;
    width: 30px;
}
#logo{
    margin-top: 3%;
    margin-left: 15%;
    width: 145px;
    height: 94px;
} 
.copy{
    height: 0px;
    bottom: 70px;
    opacity: 0.1;
    border: 1px solid #FFFFFF
}
.copy p{
    margin-top: 2%;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 2%;
    text-align: center;
    color: #c8c8c8;
}

/* projectr css*/

h1{
    margin-left:10%;
    margin-top: 5%;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}
h2{
    margin-left: 10%;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #333333;
}
.projects {
    background: #FBFBFB;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 8%;
}
.project img{
    float: left;
    width: 670px;
    height: 435px;
}
.projecta{
    float: right;
    margin-bottom: 2%;
    text-align: center;
    width: 400px;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    color: #BDBDBD;
    margin-right: 10%
}
.pjt{ 
    margin-top: 5%;
    width: 350px;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}
.pjt p{
    float: left;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
    background: #FFFFFF;
    height: 30px;
    padding: 20px 50px;
    margin-top:15%;
    width: 130px;
}
.five{
    margin-top: 3%;
    color: #333333;
    margin-left: 10%;
    font-size: 20px;
}

/*contact css*/
.map{
float: right;
margin-top: -17%;
}
iframe{
    width: 800px;
    height: 501px;
}
.koh h1{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}
.koh h2{
    margin-bottom: 5%;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #333333;
    order: 1;
}
.address{
    margin-left: 10%;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}
 .address p{
    margin-bottom: 5%;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
}
#number{
    margin-left: 10%;
    margin-bottom: 5%;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}
#gmail{
    margin-left: 10%;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
#op{
    margin-left: 10%;
    width: 230px;
    height: 40px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 3%;
    padding-top: 2%;
    background: #333333;
}

@media only screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .logo{
        margin-left: 40%;
    }
    .navbar{
        position: absolute;
        display: flex;
        font-weight: bold;
        right: -1001%;
        width: 120px;
        line-height: 15px;
        display:flex;
        background: #F3F3F3;
        flex-direction: column;
        border-radius: 10px;
        transition: all .30s ease;
    }
    #menu{
    display: block;
    cursor: pointer;
    font-size: 35px;
   }
    .navbar a{
        display: block;
        color: #333333;
        font-size: 10px;
    }
    .navbar.open{
        right: 5%;
    }
   ul{
    margin-left: 50%;
    }
   li{
    font-size: 10px;
   }
  .pn{
    padding-bottom: 30%;
  }
  .project{
    font-size: 40px;
    text-align: center;
    margin-top: 10%;
  }
  .nurtown{
    font-size: 40px;
    text-align: center;
    line-height: 60%;
    margin-bottom: 5%;
  }
  .house{
    margin-bottom: 20%;
  }
  .house p{
    padding-top: 2%;
    width: 110px;
    height: 10px;
    font-size: 8px;
    margin-left:31;
  }
  .house img{
    width: 330px;
    height: 400px;
    margin-right: 5%;
    margin-bottom: 10%;
  }
  .sign{ 
    font-size: 20px;
    margin-left: 15%;
  }
  .arrow{
    display: none;    
  }
  .paragraph{
    margin-top: 70%;
    height: 990px;
    width: 650px;
    margin-right: 20%;
    margin:0%;
  }
  .okm{
    font-size:40px;
    margin-left: 10%;
    float: none;
  }
  .lorem{
    margin-top: 2%;
    margin-left: 10%;
    width: 250px;
    font-size: 14px;
    float: none;
  }
  .lorem p{
    width: 70px;
    font-size: 10px;
    height: 5px;
    padding: 20px 50px;
    margin-top: 15px;
  }
  .paragraph img{
    padding-top: 20px;
    margin-left: 35px;
    display: block;
    width: 330px;
    height: 200px;
    justify-content: space-between;
  }
  .number{
    margin-top: 35%;
    
  }
  .och{
    font-size: 40px;
    text-align: center;
    margin-left: 10%;
    line-height: 44px;
  }
  .numbers{
    display: block;
  }
  .no{
    float: none;
    margin-left: 5%;
    font-size: 150px;
    margin-right: 0%;
    margin-bottom: 15%;

  } 
  .numbers p{
    font-size: 18px;
    line-height: 30px;
  }
  .nom{
    float: none;
    margin-top: 0%;
    font-size: 150px;
  }
  .ha{
    margin-top: 10%;
 }
.haw{
    font-size: 40px;
    text-align: center;
} 
.cover{
    margin-bottom: 30%;
    width: 330px;
    height: 200px;
}
.doc{
    padding: 20px;
    font-size: 40px;
    line-height: 40px;
}
.doc p{
    font-size: 8px;
}
#bc{
    float: none;
    font-size: 10px;
    margin-left: 20%;
    margin-top: 0%; 
}
 .ha img{
    float: none;
    margin-bottom: 10%;
    width: 330px;
    height: 250px;
    padding-left: 0%;
 }  
 .hawn{
    margin-top: 5%;
 }
 .hawn p{
    font-size: 40px;
    text-align: center;
 }
 .hawn img{
    float: none;
    width: 350px;
    height: 200px;
 }
 input{
    font-size: 12px;
 }
 .otnp{
    font-size: 10px;
    margin-left: 25%;
  }
  .ott{
    margin-left: 20%;
  }
 #logo{
    width:90px ;
    height:60px ;
    margin-left: 5%;
 }
 table{
    margin-left: 15%;
    font-size: 12px;
    line-height: 18%;
 }
 td{
    font-size: 16px;
 }
.copy p{
    font-size: 10px;
}

/* project css*/
.container{
    overflow: hidden;
}
h1{
    margin-top: 10%;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-left: 0%;
}
h2{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-left: 0%;
}
.project{
    float: none;
    margin-right: 0%
}
.projecta{
    margin-top: 5%;
    font-size: 30px;
    line-height: 40px;
    margin-right: 15%;
    width: 350px;
}
.projects img {
    width: 300px;
    height: 250px;
    margin-left: 30%;
    margin-right: 0%;
}
.pjt{
    width: 300px;
    font-size: 14px;
    line-height: 25px;
    padding-right: 0%
}
.pjt p{
    font-size: 8px;
    height: 10px;
    padding: 20px 20px;
    margin-top:15px;
    width: 100px;
}
.five p{
    font-size: 14px;
}
.five i{
    display: none;
}

/*contact css*/
iframe{
    width: 460px;
    height: 170px;
    }
.map{
    margin-top: 0%;
}
.koh h1{
    margin-top: 15%;
    font-size: 30px;
    line-height: 30px;
}
.koh h2{
    font-size: 30px;
    line-height: 30px;
}
.address{
    font-size: 14px;
    line-height: 22px;
    color: #333333;
}
 .address p{
    font-size: 14px;
    line-height: 10px;
}
#number{
    font-size: 12px;
}
#gmail{
    font-size: 14px; 
}
#op{
    width: 100px;
    height: 20px;
    font-size: 8px;
    line-height: 12px;    
    padding-top: 1%;
}
}

@media only screen and (min-width:769px) and (max-width:991px) {
     .logo{
         margin-left: 40%;
     }
     .navbar{
         position: absolute;
         display: flex;
         font-weight: bold;
         right: -1001%;
         width: 120px;
         line-height: 15px;
         display:flex;
         background: #e6edf0;
         flex-direction: column;
         border-radius: 10px;
         transition: all .30s ease;
     }
     #menu{
     display: block;
     cursor: pointer;
     font-size: 35px;
    }
     .navbar a{
         display: block;
         color: #333333;
         font-family: sans-serif;
         font-size: 10px;
     }
     .navbar.open{
         right: 2%;
     }
    ul{
     margin-left: 50%;
     }
    li{
     font-size: 10px;
    }
   .pn{
     padding-bottom: 30%;
   }
   .project{
     font-size: 40px;
     text-align: center;
     margin-top: 10%;
   }
   .nurtown{
     font-size: 40px;
     text-align: center;
     line-height: 60%;
     margin-bottom: 5%;
   }
   .house p{
     padding-top: 2%;
     width: 110px;
     height: 10px;
     font-size: 8px;
     margin-left:31;
   }
   .house img{
     width: 450px;
     height: 500px;
   }
   .sign{ 
     font-size: 20px;
     margin-left: 15%;
   }
   .arrow{
     display: none;    
   }
   .paragraph{
     margin-top: 40%;
     height: 990px;
     width: 650px;
   }
   .okm{
     font-size:40px;
     margin-right: 20%;
   }
   .lorem{
     margin-top: 2%;
     margin-right: 10%;
     width: 350px;
     font-size: 14px;
   }
   .lorem p{
     width: 70px;
     font-size: 10px;
     height: 5px;
     padding: 20px 50px;
     margin-top: 15px;
   }
   .paragraph img{
     padding-top: 20px;
     margin-left: 90px;
     display: block;
     width: 470px;
     height: 200px;
     justify-content: space-between;
   }
   .number{
    margin-top: 15%;
  }
  .och{
    font-size: 40px;
    text-align: center;
    margin-left: 10%;
    line-height: 44px;
  }
  .numbers{
    display: block;
  }
  .no{
    float: none;
    margin-left: 5%;
    font-size: 150px;
    margin-right: 0%;
    margin-bottom: 15%;

  } 
  .numbers p{
    font-size: 20px;
    line-height: 30px;
  }
  .nom{
    float: none;
    margin-top: 0%;
    font-size: 150px;
  }
   .ha{
     margin-top: 30%;
  }
 .haw{
     font-size: 40px;
     text-align: center;
 } 
 .cover{
     margin-left: 20%;
     margin-bottom: 30%;
     width: 470px;
     height: 200px;
 }
 .doc{
     padding: 20px;
     font-size: 40px;
     line-height: 40px;
 }
 .doc p{
     font-size: 8px;
 }
 #bc{
     float: none;
     font-size: 10px;
     margin-left: 20%;
     margin-top: 0%; 
 }
  .ha img{
     margin-left:20%;
     float: none;
     margin-bottom: 10%;
     width: 470px;
     height: 250px;
     padding-left: 0%;
  }  
  .hawn{
     margin-top: 5%;
  }
  .hawn p{
     font-size: 40px;
     text-align: center;
  }
  .hawn img{
     float: none;
     margin-left: 20%;
     width: 400px;
     height: 200px;
  }
  input{
     font-size: 12px;
     margin-left: 20%;
  }
  .otnp{
     font-size: 10px;
     margin-left: 25%;
   }
   .ott{
     margin-left: 20%;
   }
  #logo{
     width:90px ;
     height:60px ;
     margin-left: 5%;
  }
  table{
     margin-left: 12%;
  }
  td{
     font-size: 16px;
  }
 .copy p{
     font-size: 10px;
 }
 
 /* project css*/
 .container{
     overflow: hidden;
 }
 h1{
     margin-top: 10%;
     font-size: 30px;
     line-height: 40px;
     text-align: center;
     margin-left: 0%;
 }
 h2{
     font-size: 30px;
     line-height: 40px;
     text-align: center;
     margin-left: 0%;
 }
 .project{
     float: none;
     margin-right: 0%
 }
 .projecta{
     margin-top: 5%;
     font-size: 30px;
     line-height: 40px;
     margin-right: 15%;
     width: 350px;
 }
 .projects img {
     width: 300px;
     height: 250px;
     margin-left: 30%;
     margin-right: 0%;
 }
 .pjt{
     width: 300px;
     font-size: 14px;
     line-height: 25px;
     padding-right: 0%
 }
 .pjt p{
     font-size: 8px;
     height: 10px;
     padding: 20px 20px;
     margin-top:15px;
     width: 100px;
 }
 .five p{
     font-size: 14px;
 }
 .five i{
     display: none;
 }
 
 /*contact css*/
 iframe{
     width: 460px;
     height: 170px;
     }
 .map{
     margin-top: 0%;
 }
 .koh h1{
     margin-top: 15%;
     font-size: 30px;
     line-height: 30px;
 }
 .koh h2{
     font-size: 30px;
     line-height: 30px;
 }
 .address{
     font-size: 14px;
     line-height: 22px;
     color: #333333;
 }
  .address p{
     font-size: 14px;
     line-height: 10px;
 }
 #number{
     font-size: 12px;
 }
 #gmail{
     font-size: 14px; 
 }
 #op{
     width: 100px;
     height: 20px;
     font-size: 8px;
     line-height: 12px;    
     padding-top: 1%;
 }
}
@media screen and(min-width:992px)and (max-width:1023) {
    header{
        margin-left: 10%;
        margin-right: 20%;
        display: flex;
        justify-content: space-between;
    }
    nav{
        width: 65%;
    }
    
    .house img{
        float: right;
        width: 600px;
        height: 729px;
    }
    .pn{
        font-size: 64px;        
        line-height: 64px;
    }
    .project{
        font-size: 50px;
        line-height: 40px;
    }
    
    .nurtown{
        font-size: 50px;
        line-height: 54px;
    }        
    .okm{
        font-size: 40px;
        line-height: 64px;
    } 
    img[src="images/one.png"]{
        width: 270px;
        height: 245px;    
    }
    img[src="images/two.png"]{
        width: 270px;
        height: 245px;
    }
    img[src="images/three.png"]{
        width: 270px;
        height: 100px;
    }
    .och{
        font-size: 40px;
        line-height: 54px;
    }
    .haw{
        font-size: 40px;
        line-height: 54px;
    } 
    .cover{
        width: 470px;
        height: 205px;  
    }
    .doc{
        font-size: 40px;
        line-height: 54p
    }
    img[src='images/fan.png'] {
        float: right;
        margin-top: -24%;
        width: 470px;
        height: 205px;
    
    }
    img[src='images/field.png']{
        width: 270px;
        height: 205px;
    }
    img[src='images/estate.png']{
        width: 470px;
        height: 255px;
        padding-left:5%;
    }
    img[src='images/playground.png']{
        float: right;
        width: 370px;
        height: 255px;
    }
    .hawn p{
        font-size: 40px;
        line-height: 54px;
    }
    img[src="images/human.png"]{
        float: right;
        width: 649px;
        height: 395px;
    }
}

