@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Thin.eot');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

.container{
    background: #ffffff;
    font-family: 'TT Hoves';
    font-style: normal;
}

header{
    margin-left: 8rem;
    margin-right: 18rem;
    margin-top: 2rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.header-nav{
    align-items: center;
    justify-content: center;
}

.logo{
    height: 70px;
    width: 60px;
}
.navbar{
    gap: 50px;
    margin-top: 2rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
} 
.go{
    text-decoration:overline underline;
}
a{
    color: #333333;
    text-decoration: none;
}
a:hover{
    text-decoration: 2px underline #5297f7;
}
#menu{
    display: none;
}
/* section */
section{
    align-items: center;
    display: flex;
    margin-left: 8rem;
}
.section-header{
    margin-right: 9.2rem;
}
.project{
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 15px;
    color: #BDBDBD;
}
.nurtown{
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
    color: #333333;
} 
.section-icon{
    color: #333333;
    margin-top: 170px;  
    list-style: none;
}
.section-icon i{
    border: 2px solid #e9e5e5;
    background: #f3f0f0d8;
    margin-right: 50px;
    padding: 20px;
}
.section-date{
    font-weight: 400;
    font-size: 36px;
    line-height: 24px;
    color: #BDBDBD;
    margin-top: 120px;
}
.section-image{
    width: 100%;
}
.section-image img{
    position: relative;
    width: 90%;
}
.section-image p{
    position: absolute;
    top:121.3%;
    left: 40%;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #FFFFFF;
    color: #333333;
    padding: 2rem 4rem;
}

/* main */
.about{
    background: #FBFBFB;
    margin: 9rem;
    align-items: center;
    flex-direction: row-reverse;  
    display: flex;
    justify-content: space-between;
}

.about-paragraph{
    align-items: center;
    padding-right: 30px;
}
.about-paragraph h1{
    width: 360px;
    color: #8D8D8D;
    font-weight: 100;
}
.about-paragraph p{
    width: 350px;
    color: #000000; 
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
}
.about-paragraph button{
    background: #ffffff;
    color: #000;
    border: none;
    float: left;
    padding: 2rem;
}
.about-image{
    display: flex;
    gap: 35px;
    padding-top: 50px;
    padding-left: 80px; 
}
.left-image{
    display: grid;  
    gap: 10px;
}
 .right-image{
    padding-top: 20px;
 }

/* main goals */
.main-goal{
    margin: 9rem;
    align-items: center;
}
.main-goal-header{
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    margin-bottom: 50px;
}
.numbers{
    display: flex;
}
.left-number{
    display: flex;
    height: 140px;
    font-family: 'SF Pro Display';
    font-weight: 900;
    font-size: 200px;
    line-height: 239px;
    align-items: center;
    color: #F2F2F2;
    margin-right: 23rem;
}
.left-number p{
    width: 279px;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
}
 .right-number{
    float: right;
    display: flex;
    height: 140px;
    font-family: 'SF Pro Display';
    font-weight: 900;
    font-size: 200px;
    line-height: 239px;
    align-items: center;
    color: #F2F2F2;
}
.right-number p{
    width: 350px;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #333333;  
}

/* home-project */
.home-project{
    margin: 7rem 9rem;
    align-items: center;
}
.home-project p{
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    margin-bottom: 20px;
} 
.top-images{
    display: flex;
    gap: 89px;
    flex-direction: row-reverse;
}
.recreation-center img{
    position: relative; 
}
.recreation-center h2 {
    position: absolute;
    font-size: 60px;
    top: 302%;
    left: 12%;
    width: 20%;
    color: #FFFFFF;
}
.recreation-center p{
    position: absolute;
    top: 319%;
    left: 12%;
    color: #ffffff;
    font-size: 16px;
} 
.bottom-images{
    margin-top: 20px;
    display: flex;
    gap: 60px;
    align-items: center;
}
.bottom-side-images{
    gap: 60px;
    display: flex;
}
.home-project button{   
    float: right; 
    width: 230px;
    font-family: 'Gothic A1';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding: 1.5rem;
    background: #333333;
    margin-top: 1rem;
}

/* connect */
.connect{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #8D8D8D;
}
.connect p{
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    margin-bottom: 10px;
}
.connect-contact{
    display: flex;
    gap: 70px;
}
input{
    display: block;
    border:none;
    padding-left: 20px;
}
input[type="name"]{
    padding: 0.9rem  1rem;
    padding-right: 14.5rem;
    background: #F3F3F3;
}
input[type="home"]{
    padding: 0.9rem  1rem;
    padding-right: 14.5rem;
    background: #F3F3F3;
}
input[type="email"]{
    padding: 0.9rem  1rem;
    padding-right: 14.5rem;
    background: #F3F3F3;
}
input[type="product"]{
    padding: 0.9rem  1rem;
    padding-right: 14.5rem;
    background: #F3F3F3;
}
input[type="message"]{
    padding: 4rem  1rem;
    padding-right: 14.5rem;
    background: #F3F3F3;
}
.connect .low-text{
    margin-top: 2rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #333333;
    margin-left: 7rem;
}
.connect button{
    padding: 1.3rem;
    margin-top: 2rem;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #333333;
    color: #FFFFFF;
}
footer{
    margin-top: 5rem;
    background: #2C2C2C;
    color: #fff;
    align-items: center;
    padding-bottom: 3rem;
    width: 100%;
}
 footer nav{
    font-weight: 700;
    font-size: 16px;
    display: flex;
    margin-left: 9rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    justify-content: space-between;
}
footer img{
    width: 150px;
}
footer nav ul{
    color: #FFFFFF;
    display: block;
    list-style: none;
}
footer nav li{
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.fa-brands{
    padding-right: 2.5rem;
}
hr{
    border: 1px solid #6e6c6c;
}
.copy p{
    padding-top: 3rem;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #8b8a8a;
}

/* projects page css*/
.projects-header{
    margin-left: 8rem;
    margin-top: 4rem;
}
.projects-header h1{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}
.projects-header h2{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #333333;
}
.projects{
    background: #FBFBFB;
    margin-left: 8rem;
    margin-top: 5rem;
    margin-right: 8rem;
    display: flex;
    gap: 90px;
}
.projects img{
    align-items: center;
}
.projects-text{
    padding-top: 2%;
}
.projects-text h2{
    width: 50%;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    color: #BDBDBD;
}
.projects-text p{ 
    margin-top: 3rem;
    width: 80%;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}
.projects-text button{
    font-family: 'TT Hoves';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
    background: #FFFFFF;
    padding:1.7rem 3rem;
    margin-top:2.5rem;
    border: none;    
}
.projects-date{
    margin-left: 8rem;
    margin-top: 3rem;
    font-size: 30px;
    display: flex;
    gap: 80px;
}
.projects-date p{
    color: #6e6c6c;
    letter-spacing: 0.3em;
    line-height: 50px;
}
.projects-date i{
    border: 1px solid #6e6c6c;
    color: #333333;
    padding: 0.6rem;
}
#fa-arrow{
    background-color: #e5e4e4;
}

/*contact page css*/
.contact-info{
    margin-left: 8rem;
    margin-top: 2rem;
    margin-bottom: 8rem;
    display: flex;
    gap:40px;
}
.contact-info h1{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}
.contact-info h2{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #333333;
    letter-spacing: 0.1em;
    margin-bottom: 3rem;
}
.map{
    width: 100%;
}
iframe{
    width: 100%;
}
.contact-address p{
 margin-bottom: 38px;
 font-size: 20px;
}
.contact-address button{
    background: #333333;
    padding: 1.5rem  4rem;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing:0.1em;
}

@media only screen and (max-width:768px){
    header{
        margin-left: 10px;
        width: 100%;
    }
    .navbar{
        display: none;
        font-size: 10px;
        font-weight: bold;
        padding: 10px 15px;
        line-height: 5px;
        background: #F3F3F3;
        flex-direction: column;
        border-radius: 7px;
        transition: all .30s ease;
    }
    #menu{
    display: flex;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 40px;
   }
  .show{
     display: flex;
    } 
  section{
  flex-direction: column; 
  text-align: center;
  margin-top: 5rem;
  margin-left: 0;
 }
 .section-header{
    margin-right: 0;
    text-align: center;
 }
  .project{
    font-size: 42px;
  }
  .nurtown{
    font-size: 42px;
    line-height:10px;
    margin-bottom: 4rem;
  }
  .section-icon{
    display: none;
  }
  .section-date{
    margin-left: 0;
    margin-top: 30px;
  }
  .section-image img{
    width: 70%;
    padding: 0;
    margin-top: 3rem;
  }
  .section-image p{
    display: none;
  }
  /* main */
  .about{
    flex-direction: column;
    width: 100%;
    margin: 4rem 1rem;
  }
  .about-image{
    flex-direction: column-reverse;
    padding-left: 0;
  }
  
  /* main goals */
  .main-goal{
      margin: 0;  
  }
  .main-goal-header{
    font-size: 42px;
    text-align: center;
  }
  .numbers{
    flex-direction: column;
    gap: 4rem;
  }
  .left-number{
    height: 90px;
    font-size: 140px;
    margin-right: 0;
    justify-content: center;
  } 
  .left-number p{
    font-size: 18px;
  } 
  .right-number{
    font-size: 140px;
    justify-content: center;
    margin-right: 0;
  }
  .right-number p{
    font-size: 18px;
  }
  /* home-project */
.home-project{
    margin: 0;
    padding-top: 6rem;
    text-align: center;
    padding-bottom: 7rem;
  }
.home-project p{
    font-size: 40px;
} 
.top-images{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.home-project img{
    width: 70%;
}
.recreation-center{
    display: none;
}
.bottom-images{
    flex-direction: column;
}
.bottom-side-images{
    display: block;
}
.home-project button{
    float: none;
}

/* connect */
.connect{
    margin: 0;
    text-align: center;
}
.connect p{
   font-size: 40px;
}
.connect-contact{
    flex-direction: column-reverse;
    align-items: center;
}
.connect img{
    width: 70%;
}
/* footer */
footer nav{
    flex-direction: column;
    margin-left: 1rem;
    gap: 30px;
}

/* projects page css*/
.projects-header{
    margin: 0;
    text-align: center;
    padding-bottom: 3rem;
}
.projects-header h1{
    font-size: 42px;
}
.projects-header h2{
    font-size: 42px;
}
.projects{
    flex-direction: column-reverse;
    margin: 0;
    margin-left: 2rem;
    padding-left: 2rem;
    width: 80%;  
    margin-bottom: 9rem;
}
.projects-date p{
    font-size: 20px;
    align-items: center;
}
.projects-date i{
    display: none;
}

/*contact page css*/
.contact-info{
    margin-left: 0;
    flex-direction: column;
    text-align: center;
}
.contact-info h1{
    font-size: 42px;
}
.contact-info h2{
    font-size: 42px;
}
.contact-address{
    font-size: 16px;
}
.contact-address button{
    padding: 1.5rem;
}
iframe{
    width: 90%;
}
}


@media only screen and (min-width:769px) and (max-width:991px){
    
    header{
        margin-left: 10px;
        width: 100%;
    }
    .navbar{
        display: none; 
        font-size: 10px;
        font-weight: bold;
        padding: 10px 20px;
        line-height: 10px;
        background: #F3F3F3;
        flex-direction: column;
        border-radius: 7px;
        transition: all .30s ease;
    }
    #menu{
    display: block;
    cursor: pointer;
    font-size: 35px;
   }
    
    .show{
        display: flex;
    }
  section{
  flex-direction: column; 
  text-align: center;
  margin-top: 5rem;
  margin-left: 0;
 }
 .section-header{
    margin-right: 0;
    text-align: center;
 }
  .project{
    font-size: 42px;
  }
  .nurtown{
    font-size: 42px;
    line-height:10px;
    margin-bottom: 4rem;
  }
  .section-icon{
    display: none;
  }
  .section-date{
    margin-left: 0;
    margin-top: 30px;
  }
  .section-image img{
    width: 70%;
    padding: 0;
    margin-top: 3rem;
  }
  .section-image p{
    display: none;
  }
  /* main */
  .about{
    flex-direction: column;
    width: 100%;
    margin: 4rem 1rem;
  }
  .about-image{
    flex-direction: column-reverse;
    padding-left: 0;
  }
  
  /* main goals */
  .main-goal{
      margin: 0;  
  }
  .main-goal-header{
    font-size: 42px;
    text-align: center;
  }
  .numbers{
    flex-direction: column;
    gap: 4rem;
  }
  .left-number{
    height: 90px;
    font-size: 140px;
    margin-right: 0;
    justify-content: center;
  } 
  .left-number p{
    font-size: 18px;
  } 
  .right-number{
    font-size: 140px;
    justify-content: center;
    margin-right: 0;
  }
  .right-number p{
    font-size: 18px;
  }
  /* home-project */
.home-project{
    margin: 0;
    padding-top: 6rem;
    text-align: center;
    padding-bottom: 7rem;
  }
.home-project p{
    font-size: 40px;
} 
.top-images{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.home-project img{
    width: 70%;
}
.recreation-center{
    display: none;
}
.bottom-images{
    flex-direction: column;
}
.bottom-side-images{
    display: block;
}
.home-project button{
    float: none;
}

/* connect */
.connect{
    margin: 0;
    text-align: center;
}
.connect p{
   font-size: 40px;
}
.connect-contact{
    flex-direction: column-reverse;
    align-items: center;
}
.connect img{
    width: 70%;
}
/* footer */
footer nav{
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* projects page css*/
.projects-header{
    margin: 0;
    text-align: center;
    padding-bottom: 3rem;
}
.projects-header h1{
    font-size: 42px;
}
.projects-header h2{
    font-size: 42px;
}
.projects{
    flex-direction: column-reverse;
    margin: 0;
    margin-left: 2rem;
    padding-left: 2rem;
    width: 80%;  
    margin-bottom: 9rem;
}
.projects-date p{
    font-size: 20px;
    align-items: center;
}
.projects-date i{
    display: none;
}

/*contact page css*/
.contact-info{
    margin-left: 0;
    flex-direction: column;
    text-align: center;
}
.contact-info h1{
    font-size: 42px;
}
.contact-info h2{
    font-size: 42px;
}
.contact-address{
    font-size: 16px;
}
.contact-address button{
    padding: 1.5rem;
}
iframe{
    width: 90%;
}
}

@media only screen and (min-width:992px) and (max-width:1023px){
  
    header{
        margin-right: 6rem;
        margin-left: 4.5rem;
    }
    .header-nav ul{
        gap:  30px;
        font-size: 10px;
    }
    section{
        margin-left: 4rem;
        margin-top: 2rem;
    }
    .section-header{
        padding-top: 4rem;
        margin-right: 8rem;
    }
    .project{
        font-size: 50px;
        margin-bottom: 0;
    }
    .nurtown{
        font-size: 50px;
    }
    .section-icon{
        margin-top: 80px;
    }
    .section-icon i{
        margin-right: 40px;
    }
    .section-date{
        margin-top: 70px;
        font-size: 30px;
    }
    /* main */
    .about{
       margin:3.2rem; 
       gap: 5rem;
    }
    .about-paragraph{
        padding-right: 0;
    }
    .about-paragraph h1{
        font-size: 30px;
    } 
    .about-image{
        width: 52%;
        gap: 5px;
    }  
    .left-image{
        width: 57%;
    }
    .right-image{
       width: 40%;
    }

    /* main goals */
    .main-goal{
        margin: 4.5rem;
    }
    .main-goal-header{
        font-size: 50px;
    }
    .left-number{
    margin-right: 2rem;
    }
    
    /* home project */
   .home-project{
    margin: 3rem;
   }
   .top-images{
    gap: 5px;
    width: 100%;
   } 
   .top-images img{
    width: 100%;
   }
   .bottom-images{
    gap: 10px;
    width: 100%
   }
   .bottom-images img{
    width: 50%
   }
   .bottom-side-images{
    gap:10px;
   }
   .home-project button{
    width: 180px;
   }
   .connect{
    padding-top: 9rem;
    margin: 3rem;
    width: 100%;
   }
   .connect p{
    font-size: 40px;
   }
   input{
    width: 50%;
   }
   .connect img{
    width: 50%;
   }
   footer nav{
    margin: 3rem;
    font-size: 14px;
   }
}